body {
  background-color: #282c34;
}

.head {
  text-align: center;
  background-color: aliceblue;
}

.body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 1rem;
  color: white;
}
